<div class="shopper-index">
  <h1>Product Catalog</h1>

  <!-- Search Form -->
  <div class="search-container">
    <%= form_with(url: shopper_url, method: :get, local: true) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "search-field" %>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  </div>

  <div id="products">
    <% @allproducts.each do |product| %>
      <div class="product-item">
        <div class="product-image">
          <%= image_tag(product.image) %>
        </div>
        <div class="product-info">
          <h3>
            <%= product.name %>
          </h3>
          <p>
            <%= product.description %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price) %>
          </div>
        </div>

        <div class="product-actions">
          <%= button_to 'Add to Cart', 
              lineitems_path(product_id: product.id), 
              class: 'add_to_cart', 
              remote: true %>

          <%= link_to 'View details', 
              shopper_show_path(product), 
              class: 'view-details' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
